POLL_DB_CONNECTION_STRING=Host=ep-poll-project.eu-central-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=REPLACE_ME;SSL Mode=Require;Channel Binding=Require
VOTE_DB_CONNECTION_STRING=Host=ep-vote-project.eu-central-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=REPLACE_ME;SSL Mode=Require;Channel Binding=Require
